html {
    background-image: url(images/leon-seibert-lSmTLXlpNPo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 50px;
    font-size: 70px;
    transition-duration: 0.8s;
}
h1:hover {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 500px;
    padding-right: 500px;
}
section {
    color: whitesmoke;
    padding-top: 70px;
    text-align: center;
}
h3 {
    font-size: 45px;
    text-align: center;
}

.box1 {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 27.5%;
    text-decoration: none;
    float: left;
}
.box2 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    float: left;
    margin-right: 30%;
}
.box3 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    float: left;
}



